.header .header__logo {
  background-color: #503626;
  height: 110px; }
  .header .header__logo .header__logo-image {
    width: 250px;
    margin: 0 auto; }
    .header .header__logo .header__logo-image img {
      max-width: 100%;
      height: auto;
      padding: 0 20px;
      margin-top: 10px; }

.header .header__navigation ul.header__navigation-menu {
  background-color: #24140e;
  margin: 0;
  text-align: center;
  height: inherit; }
  .header .header__navigation ul.header__navigation-menu > li > ul {
    display: none; }
  .header .header__navigation ul.header__navigation-menu li {
    list-style-type: none;
    position: relative; }
  .header .header__navigation ul.header__navigation-menu a:hover {
    color: #d2462d; }
  .header .header__navigation ul.header__navigation-menu > li {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: rgba(153, 153, 153, 0.07) 1px 0px 0px; }
    .header .header__navigation ul.header__navigation-menu > li:last-child {
      box-shadow: none;
      border-right: none; }
    .header .header__navigation ul.header__navigation-menu > li a {
      color: #fff;
      text-decoration: none;
      padding: 18px 20px;
      transition: all 0.5s;
      display: block;
      width: 100%; }
    .header .header__navigation ul.header__navigation-menu > li:hover > ul {
      display: block;
      position: absolute;
      top: 70px;
      background-color: #fff;
      animation-name: undermenu;
      animation-duration: 0.5s; }
      .header .header__navigation ul.header__navigation-menu > li:hover > ul li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
        .header .header__navigation ul.header__navigation-menu > li:hover > ul li a {
          color: #000;
          padding: 17px 30px; }
          .header .header__navigation ul.header__navigation-menu > li:hover > ul li a:hover {
            background-color: #d2462d;
            color: #fff; }
        .header .header__navigation ul.header__navigation-menu > li:hover > ul li:last-child {
          border-bottom: none; }

@keyframes undermenu {
  0% {
    transform: translateY(30);
    opacity: 0; }
  50% {
    transform: translateY(-30px);
    opacity: 1; }
  100% {
    transform: translateY(0); } }

.footer {
  height: 50px;
  background-image: url(/images/wood-texture.jpg);
  background-size: 100% auto; }
  .footer p.footer__copyright {
    line-height: 50px;
    color: #fff;
    text-align: center;
    margin: 0; }

@font-face {
  font-family: 'OpenSansCondensedLight';
  src: url("../fonts/OpenSans-CondensedLight/OpenSans-CondensedLight.eot");
  src: url("../fonts/OpenSans-CondensedLight/OpenSans-CondensedLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-CondensedLight/OpenSans-CondensedLight.woff") format("woff"), url("../fonts/OpenSans-CondensedLight/OpenSans-CondensedLight.ttf") format("truetype"), url("../fonts/OpenSans-CondensedLight/OpenSans-CondensedLight.svg#OpenSans-CondensedLight") format("svg");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

* {
  box-sizing: border-box;
  font-family: 'OpenSansCondensedLight';
  font-size: 18px; }

ul {
  margin: 0;
  padding: 0; }

table td {
  padding: 10px;
  border: 2px solid #fff; }

h1, h2 {
  text-align: center; }

h1 {
  font-size: 48px;
  font-weight: 700; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 24px; }

section {
  margin-top: 30px;
  padding: 50px 0; }

.modal {
  bottom: -5px; }
  .modal img {
    max-width: 100%; }
  .modal .modal-title {
    color: #d2462d;
    font-weight: bold;
    font-size: 28px; }
  .modal .modal-descr {
    text-align: left;
    margin: 20px 0; }

.section-title {
  margin: 0;
  color: #d2462d;
  margin-bottom: 30px; }

.title-addition {
  text-align: center;
  margin: 15px 0; }

section.home-section {
  margin: 0; }

textarea {
  resize: none; }

body {
  padding-right: 0 !important;
  margin: 0;
  background-image: url(http://www.1zoom.net/big2/44/229358-svetik.jpg);
  background-attachment: fixed;
  background-size: 110% auto;
  background-position: top center;
  transition: all 1s; }

a {
  color: #fff;
  text-decoration: none;
  font-size: 18px; }

.button {
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.5s;
  padding: 10px 25px;
  border: none; }
  .button.button-white {
    color: #000;
    background: #fff; }
    .button.button-white:hover {
      color: #fff;
      background: #d2462d; }
  .button.button-red {
    color: #fff;
    background: #d2462d; }
    .button.button-red:hover {
      background: #13202e; }

.link-center {
  margin-top: 35px;
  text-align: center; }

.page-default section.page__content {
  margin-top: 0;
  padding-bottom: 0; }

.page-default .page__title {
  color: #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 25px 0;
  margin-bottom: 63px; }

.page-default .page__text {
  background-color: #24140e;
  padding: 40px 0;
  color: #fff; }

.page-home {
  color: #fff; }
  .page-home .page__intro {
    text-align: center;
    max-width: 700px;
    margin: 0 auto 100px; }
    .page-home .page__intro p {
      line-height: 30px; }
    .page-home .page__intro h1 {
      line-height: 200px; }
    .page-home .page__intro .page__intro-slogan {
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
      font-weight: 500;
      font-size: 24px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff; }
  .page-home .page-home__dishes_categories {
    text-align: center; }
    .page-home .page-home__dishes_categories .page-home__dishes_category-dish {
      max-width: 300px;
      padding-bottom: 10px;
      background: #fff;
      margin: 60px auto 0;
      color: rgba(0, 0, 0, 0.7); }
      .page-home .page-home__dishes_categories .page-home__dishes_category-dish img {
        width: 100%; }
      .page-home .page-home__dishes_categories .page-home__dishes_category-dish .dish__title {
        margin: 0;
        line-height: 60px;
        color: #fff;
        background-color: #d2462d; }
      .page-home .page-home__dishes_categories .page-home__dishes_category-dish .dish__preview {
        max-width: 100%; }
      .page-home .page-home__dishes_categories .page-home__dishes_category-dish .dish__description {
        font-size: 18px;
        line-height: 26px;
        padding: 15px 15px 0; }
      .page-home .page-home__dishes_categories .page-home__dishes_category-dish .dish__link {
        margin-top: 35px; }
  .page-home .page-home__dishes-catalog {
    background-color: #24140e; }
    .page-home .page-home__dishes-catalog .dishes-catalog__catalog {
      text-align: center;
      margin-top: 50px; }
      .page-home .page-home__dishes-catalog .dishes-catalog__catalog .dishes-catalog__catalog-items {
        margin-bottom: 60px; }
      .page-home .page-home__dishes-catalog .dishes-catalog__catalog-item {
        position: relative;
        width: 100%;
        text-align: left;
        display: inline-block;
        border-bottom: 1px dashed #fff;
        padding-bottom: 15px;
        margin-top: 20px; }
        .page-home .page-home__dishes-catalog .dishes-catalog__catalog-item .catalog-item__title {
          font-size: 24px;
          color: #d2462d; }
        .page-home .page-home__dishes-catalog .dishes-catalog__catalog-item .catalog-item__short-contain {
          margin-top: 30px; }
        .page-home .page-home__dishes-catalog .dishes-catalog__catalog-item .catalog-item__price {
          position: Absolute;
          top: 0;
          right: 0;
          background: #d2462d;
          padding: 5px;
          border-radius: 3px; }
    .page-home .page-home__dishes-catalog .dishes-catalog__catalog-dishes {
      text-align: center;
      margin-top: 50px; }
      .page-home .page-home__dishes-catalog .dishes-catalog__catalog-dishes > .dish {
        display: inline-block;
        vertical-align: top;
        width: 250px;
        min-height: 400px;
        background-color: #fff;
        color: #000;
        margin: 15px 5px 0;
        text-align: left;
        transition: all 0.5s;
        text-decoration: none !important; }
        .page-home .page-home__dishes-catalog .dishes-catalog__catalog-dishes > .dish .dish__preview img {
          width: 100%;
          height: 250px; }
        .page-home .page-home__dishes-catalog .dishes-catalog__catalog-dishes > .dish .dish__data {
          padding-left: 10px; }
          .page-home .page-home__dishes-catalog .dishes-catalog__catalog-dishes > .dish .dish__data .dish__data-title {
            font-size: 24px;
            font-weight: 900;
            margin: 10px 0 0 0;
            transition: all 0.5s; }
          .page-home .page-home__dishes-catalog .dishes-catalog__catalog-dishes > .dish .dish__data .dish__data-category {
            color: #d19366;
            transition: all 0.5s;
            margin-top: 5px; }
        .page-home .page-home__dishes-catalog .dishes-catalog__catalog-dishes > .dish:hover {
          background: #d2462d; }
          .page-home .page-home__dishes-catalog .dishes-catalog__catalog-dishes > .dish:hover .dish__data .dish__data-title {
            color: #fff; }
          .page-home .page-home__dishes-catalog .dishes-catalog__catalog-dishes > .dish:hover .dish__data .dish__data-category {
            color: #fff; }
  .page-home .page-home__about {
    position: relative;
    background: rgba(0, 0, 0, 0.7); }
    .page-home .page-home__about .about__slider {
      padding: 0 50px;
      margin-top: 40px; }
      .page-home .page-home__about .about__slider .slick-list {
        padding-top: 30px !important;
        height: 300px; }
      .page-home .page-home__about .about__slider .slide {
        background: transparent;
        border: none; }
        .page-home .page-home__about .about__slider .slide:active, .page-home .page-home__about .about__slider .slide:focus {
          border: none !important;
          box-shadow: none !important;
          outline: none; }
        .page-home .page-home__about .about__slider .slide img {
          width: 200px;
          height: 200px;
          display: block;
          margin: 0 auto;
          transition: all 0.7s; }
      .page-home .page-home__about .about__slider .slick-prev,
      .page-home .page-home__about .about__slider .slick-next {
        top: 128px;
        opacity: 1;
        background: url(/images/chevron-right.svg);
        background-size: 100% 100%;
        width: 30px;
        height: 50px; }
        .page-home .page-home__about .about__slider .slick-prev::before,
        .page-home .page-home__about .about__slider .slick-next::before {
          content: none; }
      .page-home .page-home__about .about__slider .slick-prev {
        transform: rotate(180deg);
        top: 104px;
        left: 0; }
      .page-home .page-home__about .about__slider .slick-next {
        right: 0; }
  .page-home .home-page__addition-content {
    background: rgba(255, 255, 255, 0.9);
    color: #000; }
    .page-home .home-page__addition-content img {
      margin: 5px;
      padding: 10px;
      border: 1px solid rgba(36, 20, 14, 0.5); }
  .page-home .page-home__feedbacks {
    background-color: #24140e;
    padding-bottom: 100px; }
    .page-home .page-home__feedbacks form {
      text-align: center; }
      .page-home .page-home__feedbacks form label {
        text-align: left;
        width: 100%; }
        .page-home .page-home__feedbacks form label p {
          margin: 30px 0 5px; }
        .page-home .page-home__feedbacks form label input,
        .page-home .page-home__feedbacks form label textarea {
          border-radius: 2px;
          background-color: #503626;
          border: none;
          width: 100%;
          padding: 15px 20px;
          color: #fff; }
        .page-home .page-home__feedbacks form label textarea {
          height: 150px;
          margin-bottom: 30px; }
    .page-home .page-home__feedbacks .feedbacks {
      margin-bottom: 20px; }
      .page-home .page-home__feedbacks .feedbacks .feedback {
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #503626; }
        .page-home .page-home__feedbacks .feedbacks .feedback .feedback__name {
          font-weight: bold;
          font-size: 24px;
          line-height: 40px; }
        .page-home .page-home__feedbacks .feedbacks .feedback .feedback__created-at {
          font-size: 14px;
          margin-top: 20px; }

/*# sourceMappingURL=app.css.map */
