$red: rgb(210, 70, 45);
$darkblue: rgb(19, 32, 46);
$darkbrown :#24140e;
$lightbrown : #503626;

@import "header.scss";
@import "footer.scss";

@import "standard.scss";
@import "homepage.scss";
@import "menupage.scss";

@import "newspage.scss";
@import "eventspage.scss";
@import "gallerypage.scss";
@import "collectivepage.scss";

@import "mobile.scss";





