.footer{
  height:50px;
  background-image: url(/images/wood-texture.jpg);
  background-size:100% auto;
  p.footer__copyright{
    line-height:50px;
    color:#fff;
    text-align:center;
    margin:0;
  }
}