@font-face {
  font-family: 'OpenSansCondensedLight';
  src: url('../fonts/OpenSans-CondensedLight/OpenSans-CondensedLight.eot');
  src: url('../fonts/OpenSans-CondensedLight/OpenSans-CondensedLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-CondensedLight/OpenSans-CondensedLight.woff') format('woff'),
  url('../fonts/OpenSans-CondensedLight/OpenSans-CondensedLight.ttf') format('truetype'),
  url('../fonts/OpenSans-CondensedLight/OpenSans-CondensedLight.svg#OpenSans-CondensedLight') format('svg');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

*{
  box-sizing:border-box;
  font-family: 'OpenSansCondensedLight';
  font-size:18px;
}
ul{
  margin:0;
  padding:0;
}

table{
  td{
    padding: 10px;
    border: 2px solid #fff;
  }
}

h1,h2{
  text-align:center;
}
h1{
  font-size:48px;
  font-weight:700;
}
h2{
  font-size:36px;
}
h3{
  font-size:24px;
}
section{
  margin-top:30px;
  padding:50px 0;
}

.modal{
  bottom:-5px;
  img{
    max-width:100%;
  }
  .modal-title{
    color: $red;
    font-weight: bold;
    font-size: 28px;
  }
  .modal-descr{
    text-align:left;
    margin:20px 0;
  }
}

.section-title{
  margin:0;
  color: $red;
  margin-bottom: 30px;
}
.title-addition{
  text-align:center;
  margin: 15px 0;
}

section.home-section{
  margin:0;
}

textarea{
  resize: none;
}


body{
  padding-right: 0 !important;
  margin: 0;
  background-image:url(http://www.1zoom.net/big2/44/229358-svetik.jpg);
  background-attachment: fixed;
  background-size:110% auto;
  background-position: top center;
  transition: all 1s;
}


a{
  color:#fff;
  text-decoration:none;
  font-size:18px;
}

.button{
  font-size:18px;
  text-transform:uppercase;
  border-radius:3px;
  transition: all 0.5s;
  padding:10px 25px;
  border:none;
  &.button-white{
    color:#000;
    background:#fff;
    &:hover{
      color:#fff;
      background: $red;
    }
  }

  &.button-red{
    color:#fff;
    background: $red;
    &:hover{
      background: $darkblue;
    }
  }
}

.link-center{
  margin-top: 35px;
  text-align: center;
}
.page-default{
  section.page__content{
    margin-top:0;
    padding-bottom:0;
  }

  .page__title{
    color: #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 25px 0;
    margin-bottom: 63px;
  }
  .page__text{
    background-color: #24140e;
    padding: 40px 0;
    color:#fff;
  }
}